.catalog-section{
  &__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: $main-black;
    margin-bottom: 38px;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list-item{
    width: 280px;
    min-height: 328px;
    border: 1px solid $main-gray-light;
    &--sold-out {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  &__list-card{}
}