.main-header {
  border-bottom: 1px solid $main-gray-light;
  background-color: $main-gray-background;
  &__navigation {
    padding: 20px 0;
    min-width: 1200px;
    max-width: 1216px;
    margin: 0 auto;
  }
}