.navigation-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 615px;
  &__logo {
    max-width: 48px;
  }
  &__logo-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
}