.picture-card{
  &__img{
    border-bottom: 1px solid $main-gray-light;
  }
  &__title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $main-black;
    max-width: 220px;
    margin-left: 24px;
    margin-top: 14px;
    margin-bottom: 21px;
  }
  &__buy-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 232px;
    margin: 0 auto;
    &--sold-out {
      min-height: 48px;
      align-items: center;
    }
  }
  &__price-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 96px;
  }
  &__old-price{
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: $card-gray;
  }
  &__actual-price{
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $card-black;
  }
  &__buy-button{
    @include main-button;
    max-width: 118px;
    flex-grow: 1;
    padding: 14px 0;
    &--request {
      box-shadow: 0 -150px 70px -120px rgb(80, 80, 80) inset,
                  0 -220px 70px -120px rgb(202, 214, 185) inset;
      animation: background 2s infinite alternate;

      @keyframes background {
        50% {
          background: rgb(65, 17, 85);
          box-shadow: 0 -140px 70px -120px rgb(153, 128, 160) inset,
                      0 -210px 70px -120px rgb(79, 85, 85) inset
        }
      }
    }
    &--in-cart {
      background-color: $main-in-cart;
      // TODO: Доделать состояние: добавить svg
    }
    &--disabled {
      background-color: $card-gray-disabled;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  &__sold-out-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $card-black-sold-out-text;
  }
}