.search-form {
  display: flex;
  width: 416px;
  min-height: 48px;
  // Fix for IE11
  height: auto !important;
  height: 48px;
  &__input {
    padding: 0;
    border: 1px solid $main-gray-light;
    border-right: none;
    width: 294px;
    background-color: inherit;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: "Merriweather";
    min-height: 48px;
    // Fix for IE11
    height: auto !important;
    height: 48px;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: $main-gray-search-input;
    }
    &:hover, &:focus, &:active {
      border: 1px solid $main-gray-black;
      border-right: none;
    }
  }
  &__button {
    @include main-button;
    flex-grow: 1;
  }
}