@mixin main-button {
  background: $main-brown-button;
  font-family: "Merriweather";
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  border: none;
  &:hover {
    background-color: $main-brown-button-hover;
  }
  &:disabled {
    background-color: $main-brown-button-disabled;
  } 
}