$main-gray-background: #f6f3f3;
$main-gray-light: #E1E1E1;
$main-gray-black: #B5B5B5;
$main-brown-button: #403432;
$main-brown-button-hover: #776763;
$main-brown-button-disabled: #C1B4B1;
$main-gray-search-input: #9F9F9F;
$main-black: #343030;
$main-in-cart: #5B3A32;
$card-black: #343030;
$card-gray: #A0A0A0;
$card-black-sold-out-text: #343030;
$card-gray-disabled: #C1B4B1;
$main-gray-footer: #ECEAEA;
$main-gray-list-footer: #555555;