$main-gray-light: #E1E1E1;
$main-gray-black: #B5B5B5;
$main-brown-button: #403432;
$main-brown-button-hover: #776763;
$main-brown-button-disabled: #C1B4B1;
$main-black: #343030;
$main-in-cart: #5B3A32;
$card-black: #343030;
$card-gray: #A0A0A0;